<main>
  <div id="whole">
    <h2>
      He built this City!
    </h2>
    <h2>He built this City on Jaaavaaaascriiiiiipt!</h2>
    <div class="section">
      <img src="../../assets/IMG_6594 3.jpeg" alt="Picture of Henry Overholt" />
      <div class="text">
        <p>
          My name is Henry Overholt, and I'm a Front-End developer. Lorem ipsum
          dolor sit amet consectetur adipisicing elit. Assumenda similique
          quibusdam quam consequatur, minus error at quis iusto officiis
          provident? Labore voluptatem vero pariatur aperiam ad ducimus, esse
          nisi ex.
        </p>
        <br />
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam quia
          architecto aperiam iure voluptate? Possimus, blanditiis esse placeat
          quo nulla perspiciatis reprehenderit ex eligendi dolorum tempore
          voluptates maiores odio asperiores?
        </p>
      </div>
    </div>
    <div class="section">
      <img src="../../assets/grand_circus-300x300.png" alt="" />
      <div class="text">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda
          similique quibusdam quam consequatur, minus error at quis iusto
          officiis provident? Labore voluptatem vero pariatur aperiam ad
          ducimus, esse nisi ex.
        </p>
        <br />
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam quia
          architecto aperiam iure voluptate? Possimus, blanditiis esse placeat
          quo nulla perspiciatis reprehenderit ex eligendi dolorum tempore
          voluptates maiores odio asperiores?
        </p>
      </div>
    </div>
    <div class="section">
      <img src="../../assets/cityyearlogo.png" alt="" />
      <div class="text">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda
          similique quibusdam quam consequatur, minus error at quis iusto
          officiis provident? Labore voluptatem vero pariatur aperiam ad
          ducimus, esse nisi ex.
        </p>
        <br />
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam quia
          architecto aperiam iure voluptate? Possimus, blanditiis esse placeat
          quo nulla perspiciatis reprehenderit ex eligendi dolorum tempore
          voluptates maiores odio asperiores?
        </p>
      </div>
    </div>
  </div>
</main>
