main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-image: url("../../assets/philaunite.jpg"),
    linear-gradient(black, #04184a);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.section {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 75%;
  margin: 0px;
}
img {
  height: 200px;
  width: 250px;
  border-radius: 100%;
  background: white;
  margin: 10px;
}
.text {
  width: 700px;
}
h2 {
  color: white;
  margin-top: 20px;
}
#whole {
  background: rgba(61, 60, 60, 0.493);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
a {
  text-decoration: none;
  color: white;
}
#start {
  background: orange;
  height: 45px;
}
button {
  background: blue;
  font-size: 20px;
  width: 150px;
  height: 40px;
  border-radius: 10px;
  margin: 5px 5px 15px 5px;
}
#buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
button:hover {
  transform: scale(1.05);
}
