.red-dice {
  width: 50px;
  height: 50px;
  font-size: 40px;
  color: white;
  background: red;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin-right: 5px;
}
.blue-dice {
  width: 50px;
  height: 50px;
  font-size: 40px;
  color: white;
  background: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
#dice-container {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 75px;
  padding: 5px 10px 5px 10px;
  border-radius: 20px;
  z-index: 1;
}
.dice {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 5px;
}
header {
  position: relative;
  height: 15%;
  display: flex;
  flex-direction: column;
  background: black;
  width: 100vw;
  color: white;
}
#scoreboard {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background: black;
  width: 90%;
  height: 100px;
  color: white;
  border-radius: 30px;
}
.shotClock {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  font-size: 30px;
  font-family: "Turret Road", cursive;
  color: red;
}
.ball {
  position: absolute;
  width: 20px;
  height: 20px;
}

.scoreboard {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 25%;
  font-family: "Turret Road", cursive;
  font-size: 40px;
}
.gameClock {
  border: 2px solid white;
  width: 150px;
  height: 50px;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Turret Road", cursive;
}
h2 {
  border: 2px solid white;
  width: 75px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
}
.turn {
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  background: rgb(247, 162, 4);
}
.gamePiece {
  width: 5%;
  height: 5%;
  border-radius: 100%;
  border: 4px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100%;
  color: white;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 30%;
  left: 50%;
  bottom: 15%;
  transform: translateX(-50%);
  z-index: 1;
}
button {
  height: 40px;
  margin-top: 5px;
  font-size: 30px;
  align-content: center;
  background: rgb(247, 162, 4);
  border: 1px solid white;
  border-radius: 5px;
  color: white;
}
#inputs {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
}
input {
  height: 60px;
  width: 70px;
  font-size: 40px;
  margin: 3px;
  align-content: center;
}
.gamePiece:hover {
  transform: scale(1.04);
}
button:hover {
  transform: scale(1.04);
}
.orange {
  background: orange;
}
.red {
  background: red;
}
.purple {
  background: purple;
}
.blue {
  background: rgb(0, 195, 255);
}
.green {
  background: green;
}
#commentary {
  font-family: "Turret Road", cursive;
  font-size: 20px;
  margin-top: 5px;
  width: 100%;
  display: flex;
  justify-content: center;
  color: white;
}
section {
  justify-content: space-between;
  width: 100%;
  height: 80%;
  background: linear-gradient(black, #04184a);
  /* border: 1px solid red; */
  position: relative;
}
#gameboard {
  /* border: 1px solid green; */
  width: 100%;
  height: 100%;
  background-image: url("../../assets/gameboard.jpeg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  display: flex;
}
#evenContainer {
  position: relative;
  width: 50%;
  height: 100%;
  /* border: 1px solid red; */
}
#oddContainer {
  position: relative;
  width: 50%;
  height: 100%;
  /* border: 1px solid yellow; */
}
#eight {
  position: absolute;
  left: 15%;
  top: 10%;
}
#two {
  position: absolute;
  left: 42%;
  top: 12%;
}
#eighteen {
  position: absolute;
  left: 63%;
  top: 30%;
}
#fortyEight {
  position: absolute;
  left: 63%;
  top: 65%;
}
#sixteen {
  position: absolute;
  left: 42%;
  top: 83%;
}
#twentyFour {
  position: absolute;
  left: 15%;
  top: 85%;
}
#forty {
  position: absolute;
  left: 14%;
  top: 75%;
}
#sixtyFour {
  position: absolute;
  left: 30%;
  top: 76%;
}
#fiftySix {
  position: absolute;
  left: 39%;
  top: 70%;
}
#twentyEight {
  position: absolute;
  top: 62%;
  left: 50%;
}
#twelve {
  position: absolute;
  left: 53%;
  top: 41%;
}
#four {
  position: absolute;
  left: 46%;
  top: 26%;
}
#thirtySix {
  position: absolute;
  top: 20%;
  left: 25%;
}
#twenty {
  position: absolute;
  top: 23%;
  left: 14%;
}
#fourteen {
  position: absolute;
  top: 37%;
  left: 20%;
}
#thirtyTwo {
  position: absolute;
  left: 18%;
  top: 60%;
}
#six {
  position: absolute;
  left: 35%;
  top: 30%;
}
#ten {
  position: absolute;
  left: 33%;
  top: 43%;
}
#thirty {
  position: absolute;
  left: 46%;
  top: 52%;
}
#fortyTwo {
  position: absolute;
  left: 31%;
  top: 58%;
}
.hoop {
  width: 5%;
  width: 5%;
  height: 5%;
  border: 2px solid white;
  position: absolute;
  border-radius: 100%;
  top: 49%;
}
#evenBall {
  left: 14%;
  top: 50%;
}
#evenHoop {
  left: 14%;
}
#evenTitle {
  position: absolute;
  top: 49%;
  left: 75%;
  color: white;
  padding: 3px 5px 3px 5px;
  border-radius: 10px;
  background: grey;
}
#oddTitle {
  position: absolute;
  top: 49%;
  right: 75%;
  color: white;
  padding: 3px 5px 3px 5px;
  border-radius: 10px;
  background: grey;
}
#oddHoop {
  right: 14%;
}
#oddBall {
  right: 14%;
  top: 50%;
}
#seven {
  position: absolute;
  right: 15%;
  top: 85%;
}
#one {
  position: absolute;
  right: 41%;
  top: 83%;
}
#fifteen {
  position: absolute;
  right: 62%;
  top: 65%;
}
#blueFifteen {
  position: absolute;
  right: 32%;
  top: 65%;
}
#fortyNine {
  position: absolute;
  right: 62%;
  top: 30%;
}
#thirtyFive {
  position: absolute;
  right: 41%;
  top: 12%;
}
#greenThirtyFive {
  position: absolute;
  top: 38%;
  right: 25%;
}
#sixtyThree {
  position: absolute;
  top: 10%;
  right: 15%;
}
#greenSixtyThree {
  position: absolute;
  top: 27%;
  right: 27%;
}
#seventeen {
  position: absolute;
  top: 73%;
  right: 14%;
}
#twentyFive {
  position: absolute;
  right: 18%;
  top: 20%;
}
#eightyOne {
  position: absolute;
  right: 53%;
  top: 42%;
}
#twentySeven {
  position: absolute;
  right: 47%;
  top: 30%;
}
#eleven {
  position: absolute;
  right: 48%;
  top: 57%;
}
#three {
  position: absolute;
  right: 45%;
  top: 70%;
}
#twentyOne {
  position: absolute;
  right: 35%;
  top: 20%;
}
#five {
  position: absolute;
  right: 25%;
  top: 75%;
}
#thirteen {
  position: absolute;
  right: 20%;
  top: 60%;
}
#nine {
  position: absolute;
  right: 35%;
  top: 48%;
}
#fortyFive {
  position: absolute;
  right: 13%;
  top: 30%;
}
#cardHolder {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 5px;
  padding-top: 5px;
}
.cards {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100px;
  height: 125px;
  border-radius: 10px;
  border: 3px solid rgb(192, 190, 190);
}
.gameDirections {
  position: absolute;
  z-index: 2;
  width: 60%;
  height: 500px;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: 15px solid black;
  border-radius: 20px;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
}
ol {
  width: 50%;
}
#whole {
  background: linear-gradient(black, #04184a);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}
.openShot {
  box-shadow: 0px 0px 20px gold;
  transform: scale(1.05);
}
.correct {
  box-shadow: 1px 1px 20px gold;
  transform: scale(1.2);
}
.correct:hover {
  transform: scale(1.3);
  border: solid blue;
}
.incorrect {
  opacity: 0.7;
  pointer-events: none;
  box-shadow: 0px 0px 0px 0px;
}
#possArrow {
  position: absolute;
  height: 50px;
  width: 100px;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.possArrow {
  width: 100px;
  height: 75px;
}
.continue {
  box-shadow: 0px 0px 20px green;
}
.stop {
  box-shadow: 0px 0px 20px red;
}
.undefined {
  box-shadow: 0px;
}
