<app-screen-size id="screen"></app-screen-size>
<div id="whole">
  <header>
    <div id="scoreboard">
      <div class="shotClock">
        <p *ngIf="!start">:30</p>
        <countdown
          *ngIf="turn == false && start == true && end == false"
          #playerShotClock
          [config]="{ leftTime: 30, format: ':ss' }"
        ></countdown>
      </div>
      <div class="scoreboard">
        <h3 [ngClass]="{ turn: turn === false }">Player</h3>
        <div class="score">
          <h2>{{ playerScore }}</h2>
        </div>
      </div>
      <div class="gameClock">
        <p *ngIf="!start">12:00</p>
        <countdown
          #gameClock
          *ngIf="start"
          [config]="{ leftTime: 720, format: 'm:ss', demand: false }"
        ></countdown>
      </div>
      <div class="scoreboard">
        <h3 [ngClass]="{ turn: turn === true }">Computer</h3>
        <div class="score">
          <h2>{{ computerScore }}</h2>
        </div>
      </div>
      <div class="shotClock">
        <p *ngIf="!start">:30</p>
        <countdown
          *ngIf="turn == true && start == true && end == false"
          #shotClock
          [config]="{ leftTime: 30, format: ':ss' }"
        ></countdown>
      </div>
    </div>
    <div id="commentary">
      <p id="lastCommentary">{{ commentaryArray[1] }}</p>
      <p id="newCommentary">
        {{ commentaryArray[0] }}
      </p>
    </div>
  </header>

  <div class="gameDirections" *ngIf="!start">
    <h1>How to play...</h1>
    <ol>
      <li>
        When you hit <em>Start Game</em> the game clock and play clockwill
        start. The game lasts <em>12 minutes</em>, and you have
        <em>30 seconds</em> per turn.
      </li>
      <li>
        At the beginning of your turn, the
        <em>dice will roll automatically</em>. Then with the two numbers, you
        <em>ADD</em> them, <em>SUBTRACT</em> them (always the bigger number
        first), you <em>MULTIPLY</em> them, and you <em>DIVIDE</em> them if they
        are evenly divisible.
      </li>
      <li>
        Once you <EM>submit the answers</EM>, you look at where on your side of
        the board you can shoot from. Meaning what <EM>EVEN</EM> numbers you
        calculated are available to shot from.
      </li>
      <li>
        <em>Click the spot </em> that you want to shoot from, that's is
        highlighted. The player that is the same color as the spot you selected
        will shoot the ball. Their statistics will determine if the shot goes in
        or not. For example if your player's field goal percentage is 0.450,
        that means for every 10 shots, your player should make 4.5 of them.
      </li>
      <li id="loseTurn">
        If you do your math correctly, but there are no available shots, your
        turn ends. If you don't get your math correct, it will be a turnover,
        and your turn will end. If you don't take a shot before your play clock
        expires, then the other team gets the ball.
      </li>
    </ol>
    <button (click)="startGame()">Start Game</button>
  </div>
  <div class="gameDirections" id="gameOver" *ngIf="end">
    <h1>The game has ended.</h1>
    <div id="finalScore">
      <div id="score">
        <div class="finalScore">
          <p>Player 1</p>
          <p>{{ playerScore }}</p>
        </div>
        <div class="finalScore">
          <p>Computer</p>
          <p>{{ computerScore }}</p>
        </div>
      </div>
      <p id="ft">FT</p>
    </div>
    <h3 id="finalCommentary">{{ final }}</h3>
    <button><a routerLink="/draft">Start a new game!</a></button>
    <button><a routerLink="/home">Back to Home</a></button>
  </div>

  <section>
    <div id="possArrow">
      <img
        class="possArrow"
        *ngIf="turn"
        src="../../assets/possArrowRight.png"
        alt="possession arrow to Computer"
      />

      <img
        class="possArrow"
        *ngIf="!turn"
        src="../../assets/possArrowLeft.png"
        alt="possession arrow to player"
      />
    </div>
    <div id="dice-container">
      <div class="dice">
        <div class="red-dice">{{ redDice }}</div>
        <div class="blue-dice">{{ blueDice }}</div>
      </div>
    </div>
    <form
      #calculateForm="ngForm"
      *ngIf="!turn"
      (ngSubmit)="findShot(calculateForm.value)"
    >
      <div
        id="inputs"
        [ngClass]="{
          continue: correct == true,
          stop: correct == false,
          undefined: correct === undefined
        }"
      >
        <input type="number" name="added" placeholder="+" ngModel />
        <input type="number" name="subtracted" placeholder="-" ngModel />
        <input type="number" name="multiplied" placeholder="x" ngModel />
        <input
          type="number"
          name="divided"
          placeholder="/"
          *ngIf="isDivisible"
          ngModel
        />
      </div>
      <button
        [ngClass]="{
          continue: correct == true,
          stop: correct == false,
          undefined: correct === undefined
        }"
      >
        Find Open Shot!
      </button>
    </form>
    <div id="gameboard">
      <div id="evenContainer">
        <p id="evenTitle">EVEN</p>
        <!-- <img
          id="evenBall"
          class="ball"
          src="./../../assets/newBasketball.jpeg"
          alt="basketball"
          *ngIf="!turn"
        /> -->
        <i
          class="fas fa-basketball-ball iconBall"
          id="evenBall"
          *ngIf="!turn"
        ></i>
        <div id="evenHoop" class="hoop"></div>
        <div *ngFor="let number of evenNumbers; index as i">
          <div
            [ngClass]="number.select == true ? 'correct' : 'incorrect'"
            class="gamePiece {{ number.color }}"
            id="{{ number.id }}"
            (click)="takeEvenShot(i)"
          >
            {{ number.number }}
          </div>
        </div>
      </div>
      <div id="oddContainer">
        <p id="oddTitle">ODD</p>
        <!-- <img
          id="oddBall"
          class="ball"
          src="./../../assets/newBasketball.jpeg"
          alt="basketball"
          *ngIf="turn"
        /> -->
        <i
          class="fas fa-basketball-ball iconBall"
          id="oddBall"
          *ngIf="turn"
        ></i>
        <div id="oddHoop" class="hoop"></div>
        <div *ngFor="let number of oddNumbers; index as i">
          <div
            [ngClass]="number.select == true ? 'correct' : 'incorrect'"
            class="gamePiece {{ number.color }}"
            id="{{ number.id }}"
          >
            {{ number.number }}
          </div>
        </div>
      </div>
    </div>
  </section>
  <div id="cardHolder">
    <div class="cards">
      <div class="card orange">
        <h3 class="playerName">
          {{ orangeP.playerName }}
        </h3>
        <p>FG% - {{ orangeP.fieldGoal }}</p>
        <p>3pt% - {{ orangeP.threePoint }}</p>
      </div>
      <div class="card red">
        <h3 class="playerName">
          {{ redP.playerName }}
        </h3>
        <p>FG% - {{ redP.fieldGoal }}</p>
        <p>3pt% - {{ redP.threePoint }}</p>
      </div>
      <div class="card blue">
        <h3 class="playerName">
          {{ blueP.playerName }}
        </h3>
        <p>FG% - {{ blueP.fieldGoal }}</p>
        <p>3pt% - {{ blueP.threePoint }}</p>
      </div>
      <div class="card purple">
        <h3 class="playerName">
          {{ purpleP.playerName }}
        </h3>
        <p>FG% - {{ purpleP.fieldGoal }}</p>
        <p>3pt% - {{ purpleP.threePoint }}</p>
      </div>
      <div class="card green">
        <h3 class="playerName">
          {{ greenP.playerName }}
        </h3>
        <p>FG% - {{ greenP.fieldGoal }}</p>
        <p>3pt% - {{ greenP.threePoint }}</p>
      </div>
    </div>
    <div id="divider"></div>
    <div class="cards">
      <div class="card orange">
        <h3 class="playerName">
          {{ orangeC.playerName }}
        </h3>
        <p>FG% - {{ orangeC.fieldGoal }}</p>
        <p>3pt% - {{ orangeC.threePoint }}</p>
      </div>
      <div class="card red">
        <h3 class="playerName">
          {{ redC.playerName }}
        </h3>
        <p>FG% - {{ redC.fieldGoal }}</p>
        <p>3pt% - {{ redC.threePoint }}</p>
      </div>
      <div class="card blue">
        <h3 class="playerName">
          {{ blueC.playerName }}
        </h3>
        <p>FG% - {{ blueC.fieldGoal }}</p>
        <p>3pt% - {{ blueC.threePoint }}</p>
      </div>
      <div class="card purple">
        <h3 class="playerName">
          {{ purpleC.playerName }}
        </h3>
        <p>FG% - {{ purpleC.fieldGoal }}</p>
        <p>3pt% - {{ purpleC.threePoint }}</p>
      </div>
      <div class="card green">
        <h3 class="playerName">
          {{ greenC.playerName }}
        </h3>
        <p>FG% - {{ greenC.fieldGoal }}</p>
        <p>3pt% - {{ greenC.threePoint }}</p>
      </div>
    </div>
  </div>
</div>
