.red-dice {
  width: 50px;
  height: 50px;
  font-size: 40px;
  color: white;
  background: red;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin-right: 5px;
}
.blue-dice {
  width: 50px;
  height: 50px;
  font-size: 40px;
  color: white;
  background: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
#dice-container {
  position: absolute;
  top: 25%;
  left: 50.5%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 75px;
  padding: 5px 10px 5px 10px;
  border-radius: 20px;
  z-index: 1;
}
.dice {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 5px;
}
header {
  position: relative;
  height: 15%;
  display: flex;
  flex-direction: column;
  background: black;
  width: 100vw;
  color: white;
}
#scoreboard {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background: black;
  width: 90%;
  height: 100px;
  color: white;
  border-radius: 30px;
}
.shotClock {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  font-size: 30px;
  font-family: "Turret Road", cursive;
  color: red;
}
.ball {
  position: absolute;
  width: 20px;
  height: 20px;
}

.scoreboard {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 25%;
  font-family: "Turret Road", cursive;
  font-size: 40px;
}
.gameClock {
  border: 2px solid white;
  width: 150px;
  height: 50px;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Turret Road", cursive;
}
h2 {
  border: 2px solid white;
  width: 75px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
}
.turn {
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  background: rgb(247, 162, 4);
}
.gamePiece {
  width: 35px;
  height: 35px;
  border-radius: 35px;
  border: 4px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 26%;
  left: 50.5%;
  bottom: 22%;
  transform: translateX(-50%);
  z-index: 1;
}
button {
  height: 40px;
  margin-top: 5px;
  font-size: 30px;
  align-content: center;
  background: rgb(247, 162, 4);
  border: 1px solid white;
  border-radius: 5px;
  color: white;
}
input {
  height: 80px;
  width: 60px;
  font-size: 40px;
  margin: 3px;
  align-content: center;
}
.gamePiece:hover {
  box-shadow: 2px 2px 2px 2px rgba(240, 240, 240, 0.918);
  margin: 0;
}
.orange {
  background: orange;
}
.red {
  background: red;
}
.purple {
  background: purple;
}
.blue {
  background: rgb(0, 195, 255);
}
.green {
  background: green;
}
#commentary {
  font-family: "Turret Road", cursive;
  font-size: 20px;
  margin-top: 5px;
  width: 100%;
  display: flex;
  justify-content: center;
  color: white;
}
section {
  justify-content: space-between;
  width: 100%;
  height: 70%;
  background: linear-gradient(black, #04184a);
  /* border: 1px solid red; */
  position: relative;
}
#gameboard {
  /* border: 1px solid green; */
  width: 100vw;
  height: 100%;
  background-image: url("../../assets/gameboard.jpeg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: flex;
}
#evenContainer {
  position: relative;
  width: 50%;
  height: 100%;
  border: 1px solid red;
}
#oddContainer {
  position: relative;
  width: 50%;
  height: 100%;
  border: 1px solid yellow;
}
#eight {
  position: absolute;
  left: 25%;
  top: 10%;
}
#two {
  position: absolute;
  left: 50%;
  top: 12%;
}
#eighteen {
  position: absolute;
  left: 70%;
  top: 30%;
}
#fortyEight {
  position: absolute;
  left: 70%;
  top: 65%;
}
#sixteen {
  position: absolute;
  left: 50%;
  top: 83%;
}
#twentyFour {
  position: absolute;
  left: 25%;
  top: 85%;
}
#forty {
  position: absolute;
  left: 24%;
  top: 75%;
}
#sixtyFour {
  position: absolute;
  left: 40%;
  top: 76%;
}
#fiftySix {
  position: absolute;
  left: 49%;
  top: 70%;
}
#twentyEight {
  position: absolute;
  top: 60%;
  left: 55%;
}
#twelve {
  position: absolute;
  left: 59%;
  top: 41%;
}
#four {
  position: absolute;
  left: 53%;
  top: 26%;
}
#thirtySix {
  position: absolute;
  top: 20%;
  left: 35%;
}
#twenty {
  position: absolute;
  top: 25%;
  left: 24%;
}
#fourteen {
  position: absolute;
  top: 37%;
  left: 30%;
}
#thirtyTwo {
  position: absolute;
  left: 28%;
  top: 60%;
}
#six {
  position: absolute;
  left: 43%;
  top: 30%;
}
#ten {
  position: absolute;
  left: 43%;
  top: 40%;
}
#thirty {
  position: absolute;
  left: 51%;
  top: 52%;
}
#fortyTwo {
  position: absolute;
  left: 41%;
  top: 58%;
}
.hoop {
  width: 35px;
  width: 25px;
  height: 25px;
  border: 2px solid white;
  position: absolute;
  border-radius: 100%;
  top: 49%;
}
#evenBall {
  left: 24%;
  top: 50%;
}
#evenHoop {
  left: 24%;
}
#oddHoop {
  right: 24%;
}
#oddBall {
  right: 24%;
  top: 50%;
}

#seven {
  position: absolute;
}
#one {
  position: absolute;
}
#fifteen {
  position: absolute;
}
#blueFifteen {
  position: absolute;
}
#fortyNine {
  position: absolute;
}
#thirtyFive {
  position: absolute;
}
#greenThirtyFive {
  position: absolute;
}
#sixtyThree {
  position: absolute;
}
#greenSixtyThree {
  position: absolute;
}
#seventeen {
  position: absolute;
}
#twentyFive {
  position: absolute;
}
#eightyOne {
  position: absolute;
}
#twentySeven {
  position: absolute;
}
#eleven {
  position: absolute;
}
#three {
  position: absolute;
}
#twentyOne {
  position: absolute;
}
#five {
  position: absolute;
}
#thirteen {
  position: absolute;
}
#nine {
  position: absolute;
}
#fortyFive {
  position: absolute;
}
#cardHolder {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 5px;
  padding-top: 5px;
}
.cards {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100px;
  height: 125px;
  border-radius: 10px;
  border: 3px solid rgb(192, 190, 190);
}
.gameDirections {
  position: absolute;
  z-index: 1;
  width: 60%;
  height: 500px;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: 15px solid black;
  border-radius: 20px;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
}
ol {
  width: 50%;
}
#whole {
  background: linear-gradient(black, #04184a);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}
