.red-dice {
  width: 50px;
  height: 50px;
  font-size: 40px;
  color: white;
  background: red;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin-right: 5px;
}
.blue-dice {
  width: 50px;
  height: 50px;
  font-size: 40px;
  color: white;
  background: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
#dice-container {
  position: absolute;
  top: 5%;
  left: 50.5%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 75px;
  padding: 5px 10px 5px 10px;
  border-radius: 20px;
  z-index: 1;
}
.dice {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 5px;
}
header {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: black;
  width: 90%;
  height: 100px;
  color: white;
  border-radius: 30px;
}
.shotClock {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  font-size: 30px;
  font-family: "Turret Road", cursive;
  color: red;
}
#ball {
  position: relative;
  width: 20px;
  height: 20px;
}

.scoreboard {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 25%;
  font-family: "Turret Road", cursive;
  font-size: 40px;
}
.gameClock {
  border: 2px solid white;
  width: 150px;
  height: 50px;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Turret Road", cursive;
}
h2 {
  border: 2px solid white;
  width: 75px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
}
.turn {
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  background: rgb(247, 162, 4);
}
.gamePiece {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  border: 8px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: white;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 26%;
  left: 50.5%;
  top: 19%;
  transform: translateX(-50%);
  z-index: 1;
}
button {
  height: 40px;
  margin-top: 5px;
  font-size: 30px;
  align-content: center;
  background: rgb(247, 162, 4);
  border: 1px solid white;
  border-radius: 5px;
  color: white;
}
input {
  height: 100px;
  width: 70px;
  font-size: 40px;
  margin: 3px;
  align-content: center;
}
.gamePiece:hover {
  box-shadow: 2px 2px 2px 2px rgba(240, 240, 240, 0.918);
  margin: 0;
}
.orange {
  background: orange;
}
.red {
  background: red;
}
.purple {
  background: purple;
}
.blue {
  background: rgb(0, 195, 255);
}
.green {
  background: green;
}
#commentary {
  font-family: "Turret Road", cursive;
  font-size: 20px;
  margin-top: 5px;
  width: 100%;
  display: flex;
  justify-content: center;
}
section {
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: 700px;
  background-image: url("./../../assets/76ers-court.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid black;
}
#evenContainer {
  width: 50%;
  position: relative;
}
#oddContainer {
  width: 50%;
  position: relative;
}
#eight {
  position: absolute;
  left: 5%;
}
#two {
  position: absolute;
  left: 20%;
  top: 4%;
}
#eighteen {
  position: absolute;
  left: 29%;
  top: 20%;
}
#fortyEight {
  position: absolute;
  left: 29%;
  top: 74%;
}
#sixteen {
  position: absolute;
  left: 19%;
  top: 89%;
}
#twentyFour {
  position: absolute;
  left: 4%;
  top: 93%;
}
#forty {
  position: absolute;
  left: 3%;
  top: 80%;
}
#sixtyFour {
  position: absolute;
  left: 10%;
  top: 82%;
}
#fiftySix {
  position: absolute;
  left: 17%;
  top: 74%;
}
#twentyEight {
  position: absolute;
  left: 23%;
  top: 62%;
}
#twelve {
  position: absolute;
  left: 23%;
  top: 39%;
}
#four {
  position: absolute;
  left: 20%;
  top: 20%;
}
#thirtySix {
  position: absolute;
  left: 10%;
  top: 8%;
}
#twenty {
  position: absolute;
  left: 4%;
  top: 15%;
}
#fourteen {
  position: absolute;
  left: 7%;
  top: 32%;
}
#thirtyTwo {
  position: absolute;
  left: 6%;
  top: 60%;
}
#six {
  position: absolute;
  left: 13%;
  top: 19%;
}
#ten {
  position: absolute;
  left: 13%;
  top: 38%;
}
#thirty {
  position: absolute;
  left: 19%;
  top: 52%;
}
#fortyTwo {
  position: absolute;
  left: 12%;
  top: 59%;
}
#seven {
  position: absolute;
  top: 93%;
  right: 5%;
}
#one {
  position: absolute;
  top: 85%;
  right: 45%;
}
#fifteen {
  position: absolute;
  top: 65%;
  right: 60%;
}
#blueFifteen {
  position: absolute;
  top: 68%;
  right: 20%;
}
#fortyNine {
  position: absolute;
  top: 25%;
  right: 60%;
}
#thirtyFive {
  position: absolute;
  top: 4%;
  right: 40%;
}
#greenThirtyFive {
  position: absolute;
  right: 15%;
  top: 35%;
}
#sixtyThree {
  position: absolute;
  right: 7%;
}
#greenSixtyThree {
  position: absolute;
  top: 19%;
  right: 21%;
}
#seventeen {
  position: absolute;
  top: 83%;
  right: 4%;
}
#twentyFive {
  position: absolute;
  right: 10%;
  top: 10%;
}
#eightyOne {
  position: absolute;
  right: 43%;
  top: 39%;
}
#twentySeven {
  position: absolute;
  right: 41%;
  top: 23%;
}
#eleven {
  position: absolute;
  right: 41%;
  top: 57%;
}
#three {
  position: absolute;
  right: 36%;
  top: 73%;
}
#twentyOne {
  position: absolute;
  right: 33%;
  top: 15%;
}
#five {
  position: absolute;
  right: 20%;
  top: 83%;
}
#thirteen {
  position: absolute;
  right: 7%;
  top: 59%;
}
#nine {
  position: absolute;
  right: 25%;
  top: 46%;
}
#fortyFive {
  position: absolute;
  right: 4%;
  top: 25%;
}
#cardHolder {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 5px;
}
.cards {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 125px;
  height: 150px;
  border-radius: 10px;
  border: 3px solid rgb(192, 190, 190);
}
.gameDirections {
  position: absolute;
  z-index: 1;
  width: 60%;
  height: 500px;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: 15px solid black;
  border-radius: 20px;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
}
ol {
  width: 50%;
}
