<main>
  <h1>Hi there!</h1>
  <img src="./../../assets/math-hoops logo.png" alt="Math Hoops Logo" />
  <h2>Welcome to</h2>
  <h2 id="website">math-hoops.surge.sh</h2>
  <div id="explanation">
    <p>
      This is Henry here, I built this app to practice my Front-end Developing
      skills.
    </p>
    <p>
      This program is designed to be played on an iPad's screen size or bigger.
    </p>
  </div>
  <div id="solution">
    <p>
      Since you are getting this message try opening it on one of these devices.
    </p>
    <p><span>OR</span></p>
    <p>
      If you are on a laptop, and you are still getting this message try making
      your screen bigger.
    </p>
    <div id="devices">
      <img src="./../../assets/ipad-outline.jpeg" alt="iPad" />
      <img
        src="./../../assets/outline-drawing-laptop-vector-19842630.jpeg"
        alt="laptop"
      />
    </div>
  </div>
  <div id="moreInfo">
    <p>
      I, Henry, did not create the Math Hoops game, I just created this version
      of it to play on the computer. This is a free resource.
    </p>
    <p>
      I highly encourage you to checkout their program, and if you work in
      education consider trying to run this program with students, it's a lot of
      fun!
    </p>
    <a href="http://nbamathhoops.org/">Learn more about Math Hoops!</a>
    <p>They have a moblie app, go try it!</p>
    <p>Available in the Apple Store.</p>

    <a href="https://apps.apple.com/us/app/nba-math-hoops/id1237372304?ls=1">
      Try their mobile game!</a
    >
  </div>
</main>
