main {
  background: url("./../../assets/home.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
div {
  background: rgba(187, 187, 187, 0.445);
  padding: 25px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
img {
  width: 300px;
  height: 300px;
}
h1 {
  color: white;
}
a {
  text-decoration: none;
  color: white;
}
#buttons {
  display: flex;
  flex-direction: row;
  background: none;
}
button {
  margin-top: 10px;
  width: 200px;
  height: 50px;
  font-size: 30px;
  border-radius: 10px;
  margin: 5px;
  background: blue;
  color: white;
}
#start {
  background: orange;
  width: 290px;
  height: 75px;
  font-size: 40px;
}
