#screen {
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background: white;
}
main {
  display: none;
}
@media screen and (min-width: 766px) {
  #screen {
    display: none;
  }
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("./../../assets/home.jpg");
    background-repeat: none;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
  }
  #welcome {
    color: white;
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 80%;
  }
  #main {
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
    align-items: center;
  }
  #rightContainer {
    width: 45%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  #welcomeTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 90%;
    font-size: 15px;
    text-align: center;
    padding: 10px;
  }
  img {
    width: 175px;
  }
  button {
    border: 1px solid white;
  }
  h1 {
    text-align: center;
  }
  h3 {
    color: white;
    padding: 3px;
    border-bottom: 3px solid white;
  }
  #players {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .stats {
    width: 100%;
    border: 3px solid white;
    border-radius: 5px;
  }
  .player {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    padding: 3px;
    border-width: 2px;
    margin: 1px;
    border-radius: 5px;
    text-align: center;
    color: white;
  }
  .red {
    background: red;
    border-color: solid red;
  }
  .orange {
    background: orange;
    border-color: solid orange;
  }
  .blue {
    background: rgb(0, 195, 255);
    border-color: solid rgb(0, 195, 255);
  }
  .purple {
    background: purple;
    border-color: solid purple;
  }
  .green {
    background: green;
    border-color: solid green;
  }
  #moreInfo {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  #moreInfo h3 {
    text-align: center;
    font-size: 25px;
    border: 3px solid blue;
    border-radius: 5px;
  }
  #moreInfo p {
    background: rgba(122, 121, 121, 0.445);
    padding: 5px;
    border-radius: 10px;
    margin-top: 5px;
  }
  button {
    width: 50%;
    background: blue;
    padding: 8px;
    border: 1px solid blue;
    margin: 3px;
    border-radius: 15px;
    color: white;
    font-size: 20px;
  }
  a {
    color: white;
    text-decoration: none;
  }
  #start {
    border: 1px solid orange;
    background: orange;
  }
}
