<main>
  <div id="main">
    <img src="./../../assets/math-hoops logo.png" alt="Math Hoops Logo" />
    <h1>Welcome to Math Hoops <em>the Computer Game!</em></h1>
    <p>
      Math Hoops is a fast-paced math game, designed to teach students
      probability, as well as quick decisions. They will practice their quick
      mental math skills with single digit, adding, subtract, multiplying, and
      division. Players use real life statistics of their favorite WNBA and NBA
      players, to see if they can beat the computer!
    </p>
    <button id="start"><a routerLink="/draft">Start a Game!</a></button>
    <p>
      I did not create Math Hoops or own Math Hoops, this is my free version of
      the board game that I developed for a laptop or desktop computer. To learn
      more about Math Hoops and what Learn Fresh is doing with this incredibly
      fun program is all about, click the button below.
    </p>
    <button class="normal">
      <a href="http://nbamathhoops.org/">nbamathhoops.org</a>
    </button>
  </div>
</main>
