<main>
  <div id="main">
    <img src="./../../assets/math-hoops logo.png" alt="Math Hoops Logo" />
    <h1>Welcome to Math Hoops <em>the Computer Game!</em></h1>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit blanditiis
      eligendi nesciunt veritatis dignissimos, delectus ea ab dicta eos possimus
      ullam voluptate temporibus atque quis numquam laborum sint perspiciatis!
      Provident.
    </p>
    <div id="buttons">
      <button class="normal"><a routerLink="/about">About</a></button>
      <button id="start"><a routerLink="/draft">Start a Game!</a></button>
      <button class="normal">
        <a href="http://nbamathhoops.org/">Math Hoops!</a>
      </button>
    </div>
  </div>
</main>
